<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>电影管理</title>
    <meta name="description" content="电影管理页面"/>
    <meta name="keywords" content="index"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="renderer" content="webkit"/>
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <meta name="apple-mobile-web-app-title" content="Amaze UI" />


    <script src="assets/js/echarts.min.js"></script>
    <link rel="stylesheet" href="assets/css/amazeui.min.css" />
    <link rel="stylesheet" href="assets/css/amazeui.datatables.min.css" />
    <link rel="stylesheet" href="assets/css/app.css"/>
    <script src="assets/js/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/angular.js/1.6.3/angular.min.js"></script>

    <script>
        var app=angular.module('adminApp', []);
    </script>
    <script type="text/javascript" src="/js/admin.js"></script>
    <script type="text/javascript" src="/js/admin-info.js"></script>
    <script type="text/javascript" src="/js/admin-get-list.js"></script>

</head>

<body data-type="widgets" ng-app="adminApp">
    <script src="assets/js/theme.js"></script>
    <div class="am-g tpl-g">

        <!-- 引入topBar -->
        <div th:replace="admin-bar::admin-topbar"></div>

        <!-- 引入sideBar -->
        <div th:replace="admin-bar::admin-sidebar(activeUri='admin-movies.html',activeTitle=0)"></div>

        <div ng-controller="moviesCtrl">

            <!-- 内容区域 -->
            <div class="tpl-content-wrapper" >
                <div class="row-content am-cf row">
                    <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                        <div class="widget am-cf">
                            <div class=" widget-head widget-title  am-cf">电影列表</div>

                            <div class="widget-body  am-fr">
                                <!--搜索-->
                                <div class="am-u-sm-12 am-u-md-12 am-u-lg-3">
                                    <div class="am-input-group am-input-group-sm tpl-form-border-form cl-p">
                                        <input type="text" class="am-form-field " ng-model="movieName"/>
                                        <span class="am-input-group-btn">
                                                    <button class="am-btn  am-btn-default am-btn-success tpl-table-list-field am-icon-search"
                                                            type="button" ng-click="selectMovieName()"/>
                                            </span>
                                    </div>
                                </div>

                                <!--电影列表-->
                                <div class="am-u-sm-12">
                                    <table width="100%" class="am-table am-table-compact am-table-striped tpl-table-black ">
                                        <thead>
                                        <tr>
                                            <th>电影</th>
                                            <th>名称</th>
                                            <th>上映时间</th>
                                            <th>操作</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr class="even gradeC" ng-repeat="movie in movieList">
                                            <td>
                                                <img src="http://ponlc6wcj.bkt.clouddn.com/{{movie.img}}" class="tpl-table-line-img" alt=""/>
                                            </td>
                                            <td class="am-text-middle">{{movie.titlecn}}</td>
                                            <td class="am-text-middle">{{movie.time}}</td>
                                            <td class="am-text-middle">
                                                <div class="tpl-table-black-operation">
                                                    <a href="" class="tpl-table-black-operation"
                                                            ng-click="showmovie(movie)"
                                                            data-am-modal="{target: '#doc-modal-1', closeViaDimmer: 0, width: 'auto', height: 'auto'}">
                                                        <i class="am-icon-eye"></i>查看
                                                    </a>
                                                    <a href="admin-index.html?movie={{movie.movieid}}" class="tpl-table-black-operation">
                                                        <i class="am-icon-pencil"></i>修改
                                                    </a>
                                                    <a href="" class="tpl-table-black-operation-del"
                                                            ng-click="deletemovie(movie.movieid)">
                                                        <i class="am-icon-trash"></i>删除
                                                    </a>
                                                </div>

                                            </td>
                                        </tr>
                                        <!-- more data -->
                                        </tbody>
                                    </table>
                                </div>

                                <div class="am-u-lg-12 am-cf">
                                    <div class="am-fr">
                                        <ul class="am-pagination tpl-pagination">
                                            <li ng-click="changePage(0)"><a href="">«</a></li>

                                            <li ng-click="changePage(num)" ng-repeat="num in pageNums"
                                                ng-class="{'am-active':show==={{num}}}">
                                                <a href="">{{num}}</a>
                                            </li>

                                            <li ng-click="changePage(999)"><a href="">»</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--弹窗-->
            <div class="am-modal am-modal-prompt" tabindex="-1" id="movie-confirm">
                <div class="am-modal-dialog">
                    <div class="am-modal-bd">
                        删除电影？
                    </div>
                    <div class="am-modal-footer">
                        <span class="am-modal-btn" data-am-modal-cancel="">取消</span>
                        <span class="am-modal-btn" data-am-modal-confirm="">提交</span>
                    </div>
                </div>
            </div>
            <div class="am-modal am-modal-alert" tabindex="-1" id="movie-alert">
                <div class="am-modal-dialog">
                    <div class="am-modal-bd">
                        {{message}}
                    </div>
                    <div class="am-modal-footer">
                        <span class="am-modal-btn">确定</span>
                    </div>
                </div>
            </div>
            <!-- 查看电影信息弹窗 -->
            <div class="am-modal am-modal-no-btn" tabindex="-1" id="doc-modal-1">
                <div class="am-modal-dialog">
                    <div class="am-modal-hd">电影信息
                        <a href="javascript: void(0)" class="am-close am-close-spin" data-am-modal-close="">&times;</a>
                    </div>
                    <div class="am-modal-bd">
                        <!--表单-->
                        <div class="row-content am-cf row">
                            <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                                <div class="widget am-cf widget-body am-fr am-form tpl-form-line-form">
                                    <div class="am-form-group">
                                        <label class="am-u-sm-3 am-form-label">中文名 </label>
                                        <div class="am-u-sm-9">
                                            <input type="text" class="tpl-form-input" ng-model="titlecn"/>
                                        </div>
                                    </div>
                                    <div class="am-form-group">
                                        <label class="am-u-sm-3 am-form-label">英文名 </label>
                                        <div class="am-u-sm-9">
                                            <input type="text" class="tpl-form-input" ng-model="titleen"/>
                                        </div>
                                    </div>
                                    <div class="am-form-group">
                                        <label class="am-u-sm-3 am-form-label">上映时间 </label>
                                        <div class="am-u-sm-9">
                                            <input type="text" class="am-form-field tpl-form-no-bg"
                                                   data-am-datepicker="" readonly="" ng-model="time"/>
                                        </div>
                                    </div>
                                    <div class="am-form-group">
                                        <label class="am-u-sm-3 am-form-label">导演 </label>
                                        <div class="am-u-sm-9">
                                            <input type="text" ng-model="director"/>
                                        </div>
                                    </div>
                                    <div class="am-form-group">
                                        <label class="am-u-sm-3 am-form-label">演员 </label>
                                        <div class="am-u-sm-9">
                                            <input type="text" ng-model="actors"/>
                                        </div>
                                    </div>
                                    <div class="am-form-group">
                                        <label class="am-u-sm-3 am-form-label">类型 </label>
                                        <div class="am-u-sm-9">
                                            <input type="text" ng-model="type"/>
                                        </div>
                                    </div>
                                    <div class="am-form-group">
                                        <label for="user-intro" class="am-u-sm-3 am-form-label">电影简介 </label>
                                        <div class="am-u-sm-9">
                                            <textarea class="" rows="6" id="user-intro" ng-model="story"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="assets/js/amazeui.min.js"></script>
    <script src="assets/js/amazeui.datatables.min.js"></script>
    <script src="assets/js/dataTables.responsive.min.js"></script>
    <script src="assets/js/app.js"></script>
</body>

</html>