<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhangjing.dao.RemarkMapper">
  <resultMap id="RemarkMap" type="com.zhangjing.entity.Remark">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="remarkId" jdbcType="INTEGER" property="remarkid" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="time" jdbcType="TIMESTAMP" property="time" />

    <!--用户和评论一对多-->
    <association property="user" javaType="com.zhangjing.entity.User">
      <id column="userId"  property="userid" />
      <result column="nickName" property="nickname" />
      <result column="img" property="img" />
    </association>

    <association property="movie" javaType="com.zhangjing.entity.Movie">
      <id column="movieId"  property="movieid" />
      <result column="titleCn" property="titlecn" />
      <result column="img" property="img" />
    </association>

    <association property="userLike" javaType="com.zhangjing.entity.UserLike">
      <id column="id"  property="id" />
      <result column="status" property="status" />
    </association>
  </resultMap>

  <select id="selectRemarkByMovie" parameterType="int" resultMap="RemarkMap">
    select l.*,tu.*
    from(SELECT t.*,u.*
          FROM remark t,umr m,user u
          WHERE m.remarkId=t.remarkId
          AND m.userId=u.userId
          and m.movieId=${movieId}) tu
    left outer join (select l.*
                      from user_like l
                      where l.like_userId=${likeuserId}) l
    on tu.remarkId = l.like_remarkId;
  </select>

  <select id="selectRemarkByUser" parameterType="int" resultMap="RemarkMap">
    SELECT t.*,m.* FROM
    remark t,umr u, movie m
    WHERE u.userId=#{id}  AND u.remarkId=t.remarkId AND u.movieId=m.movieId
  </select>

  <select id="selectAll" resultMap="RemarkMap">
    select r.remarkId,r.content,r.time,u.userId,u.nickName,u.img,m.movieId,m.titleCn,m.img
    from remark r inner join umr on umr.remarkId=r.remarkId
			inner join user u on u.userId=umr.userId
			inner join movie m on m.movieId=umr.movieId
			order by r.time desc
  </select>
</mapper>